@import url(http://fonts.googleapis.com/css?family=Lato:400,900|Bad+Script);

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.info {
  width: 60%;
  height: 60%;
  min-width: 25em;
  background: rgba(255,255,255,.85);
  border-radius: .5em;
  padding: 2em;
  transition: border-color 1s ease-in-out;
  box-shadow: 1px 1px 1px #444;
  z-index: 1;
  position: relative;
  margin: 10em auto;
}

.info h1 {
  font-size: 350%;
  margin-bottom: .75em;
  font-family: "Bad Script", sans-serif;

}

.creator {
  font-size: 175%;
  margin: 15px 0;
  font-family: "Bad Script", sans-serif;
  float: left;
}

h2 {
  margin-top: 2em;
  margin-bottom: 3em;
}

h2 a:link, .info h2 a:visited, .info h2 a:hover, .info h2 a:active {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: black;
  text-decoration: none;
  font-size: 250%;
  margin-left: .5em;
  position: relative;
  top: .5em;
}

.info h2 a:hover {
  border-bottom: 1px solid black;
}


.main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  z-index: -1;
  background-color: black;
}

.alternate {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  z-index: -1;
  background-color: gray;
}

.show {
  z-index: 1;
  opacity: 1;
}


.circle {
  border-radius: 50%;
  background-color: rgba(50, 50, 50, .75);
  position: absolute;
  right: -2em;
  top: -2em;
  width: 5em;
  height: 5em;
  text-align: center;
  transition: transform .2s ease-in-out, background-color .2s ease-in-out;
  
  box-shadow: 1px 1px 1px #444;
  
}

.circle:hover {
  transform: scale(1.1);
  background-color: rgba(50, 50, 50, 1);
}

.pause {
  position: absolute;
  display: block;
  font-size: 3em;
  top: calc(50% - .5em);
  left: calc(50% - .4em);
  color:white;
  text-shadow: 2px 2px #444;
}

.pause.fa-play {
  left: calc(50% - .3em);
}

h3 {
  font-size: 150%;
  margin-bottom: .5em;
}

.colors li {
  width: 6em;
  height: 6em;
  border-radius: 50%;
  float: left;
  padding-top: 2em;
  text-align: center;
  margin: .5em;
  box-shadow: 1px 1px 1px #666;
}


li:last-of-type{
  margin-bottom: 3em;
}

li .light {
  color: white;
}
li .dark {
  color: black;
}

.copyright {
  clear: both;
  margin-top: 3em;
}