@import url(http://fonts.googleapis.com/css?family=Lato:400,900|Bad+Script);

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}


.container {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -2;
  overflow: auto;
  -webkit-backface-visibility: hidden;
}

.main {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}


.info {
  position: relative;
  background-color: rgba(255,255,255,.85);
  padding: 3em 1em 2em 1em;
  font-family: "Lato", sans-serif;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.2);
  /* box-shadow: 1px 1px 1px #666; */
  margin: 6em auto;
}

.explanation p {
  margin-bottom: 1em;
  line-height: 125%;
}

h1 {
  font-family: "Bad Script", sans-serif;
  font-size: 200%;
  text-align: center;
  margin-bottom: .5em;
}

h2 {
  font-size: 150%;
  margin: .5em 0;
}

h2 a:link {
  color: black !important;
}

h3 {
  font-size: 125%;
  margin-bottom: .5em;
}

.colors {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

li {
  flex: 0 0 96px;
  border-radius: 50%;
  text-align: center;
  /* box-shadow: 1px 1px 1px #666; */
  height: 96px;
}

li p { 
  display: none;
}

li .light {
  color: white;
}

li .dark {
  color: black;
}

.circle {
  width: 3em;
  height: 3em;
  background-color: rgba(255,255,255,.85);
  border-radius: 50%;
  text-align: center;
  padding-top: 1em;
  position: absolute;
  left: calc(50% - 1.5em);
  top: -4em;
  /* box-shadow: 1px 1px 1px #333; */
}

@media only screen and (min-width: 700px) {
  .info {
    border-radius: .5em;
    padding: 5em 3em 3em 3em;
    width: 700px;
  }

  li {
    /* width: 96px; */
    /* height: 96px; */
    padding-top: 2em;
  }
  li p {
    display: block;
  }

  h1, h2, .colors {
    margin-bottom: 2em;
  }
  .circle, .pause {
    transition: transform .1s ease-in-out;
  }
  .circle:hover, .circle:hover .pause {
    transform: scale(1.2,1.2);

  }
}


